@model IEnumerable<DevIO.App.ViewModels.MensalViewModel>

@{
    ViewData["Title"] = "Lista de Mensais";
}

<h1>Lista de mensais</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <vc:summary></vc:summary>

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValidadeContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPrecoMensal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorMulta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidadeContrato)
                </td>
                <td>
                    @item.ValorPrecoMensal.ToString("C")
                </td>
                <td>
                    dia @item.DataPagamento.Day.ToString()
                </td>
                <td>
                    @item.ValorMulta.ToString("C")
                </td>
                <td>
                    <a class="btn btn-info" asp-controller="Mensais" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search"></span></a>
                    <a class="btn btn-warning" asp-controller="Mensais" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil-alt"></span></a>
                    <a class="btn btn-danger" asp-controller="Mensais" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
